services:
  kerberos:
    domain: CORP.EXAMPLE.COM
    enabled: true
    image: ubuntu:22.04
    use_prebuilt: false
  postgres:
    auth_method: trust
    enabled: true
    image: postgres:17.5-alpine
    password: null
    use_prebuilt: false
